Header{ 
    display: flex
    ;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
        padding: 0.5rem 0;
        margin-bottom: 10rem;
}
h1{font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    margin-left: 1%;
    margin-right: 25%;
}

#home{color:#008170;
width: 30px;
height: 30px;
margin-top: 9px;
margin-bottom: 5px;}

.titulo{
    margin-left: 40px;
    height: 100%;
   
}	
a{  font-family: 'Kdam Thmor Pro', sans-serif;
    margin-top: 5px;
    margin-left: 40%;
    color: #ffffff;
    font-size: 23px;
    }

a:hover{
    transition: 0.3s;
    color: #ffff02;
}