.AboutMe{display: flex;
    width: 60%;
    height: auto;
    margin-right: 79px;
    margin-top: 20px;
    color:#fff;
    }
p{  padding: 5%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.395);
    border-radius: 10px;
    margin:20px;
    display: flex;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    }